<?xml version="1.0"?>
<config>
    <modules>
        <MM_Search>
            <version>1.0.0</version>
        </MM_Search>
    </modules>
    <global>
        <helpers>
            <mm_search>
                <class>MM_Search_Helper</class>
            </mm_search>
        </helpers>
        <blocks>
            <mm_search>
                <class>MM_Search_Block</class>
            </mm_search>
        </blocks>
        <models>
            <mm_search>
                <class>MM_Search_Model</class>
                <resourceModel>mm_search_resource</resourceModel>
            </mm_search>
            <mm_search_resource>
                <class>MM_Search_Model_Resource</class>
            </mm_search_resource>
            <catalogsearch_resource>
                <rewrite>
                    <fulltext>MM_Search_Model_Resource_Fulltext</fulltext>
                </rewrite>
            </catalogsearch_resource>
            <catalogsearch>
                <rewrite>
                    <indexer_fulltext>MM_Search_Model_Indexer_Fulltext</indexer_fulltext>
                </rewrite>
            </catalogsearch>
        </models>
    </global>
    <frontend>
        <routers>
            <mm_search>
                <use>standard</use>
                <args>
                    <module>MM_Search</module>
                    <frontName>mm_search</frontName>
                </args>
            </mm_search>
        </routers>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <mm_search_add_layout_handle>
                        <class>mm_search/observer</class>
                        <method>addLayoutHandleIfEnabled</method>
                    </mm_search_add_layout_handle>
                </observers>
            </controller_action_layout_load_before>
        </events>
        <layout>
            <updates>
                <mm_search>
                    <file>mm_search.xml</file>
                </mm_search>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <catalog_entity_attribute_save_after>
                <observers>
                    <mm_search_sync_schema>
                        <class>mm_search/observer</class>
                        <method>syncSchemaWithAttribute</method>
                    </mm_search_sync_schema>
                </observers>
            </catalog_entity_attribute_save_after>
        </events>
        <!-- <routers>
            <mm_search>
                <use>admin</use>
                <args>
                    <module>MM_Search</module>
                    <frontName>mm_search</frontName>
                </args>
            </mm_search>
        </routers> -->
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mm_search translate="title" module="mm_search">
                                            <title>MM Search</title>
                                        </mm_search>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <catalog>
            <search>
                <engine>mm_search</engine>
            </search>
        </catalog>
        <mm_search>
            <general>
                <enabled>0</enabled>
            </general>
            <connection>
                <proxy>1</proxy>
                <protocol>http</protocol>
                <host>localhost</host>
                <port>8108</port>
                <collection_name>products</collection_name>
            </connection>
            <instantsearch>
                <cache_lifetime>120</cache_lifetime>
            </instantsearch>
        </mm_search>
    </default>
</config>
